<!-- safe.page.html -->

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Security & Safe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-img src="../../assets/images/DALL.png" class="background-image"></ion-img>

  <!-- Button to toggle QR Code -->
  <ion-button (click)="toggleQRCode()">Show QR Code</ion-button>

  <!-- QR Code Popup -->
  <div *ngIf="qrCodeVisible" class="popup">
    <div class="popup-content">
      <img src="assets/images/SRT_en_ligne_qrcode.png" alt="QR Code">
      <ion-button color="danger" expand="block" (click)="toggleQRCode()">Close QR Code</ion-button>
    </div>
  </div>

  <!-- Button to toggle Live Video -->
  <ion-button (click)="showVideoStream()">Show Live Parking Video</ion-button>

  <!-- Live Video Popup -->
  <div *ngIf="videoVisible" class="popup">
    <div class="popup-content">
      <video width="100%" height="auto" controls autoplay>
        <source [src]="videoStreamURL" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
      <ion-button color="danger" expand="block" (click)="closeVideoStream()">Close Video</ion-button>
    </div>
  </div>
</ion-content>

<ion-footer>
  <ion-card color="warning">
    <ion-card-header >
      <ion-card-title>Powered by LYCA Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      © 2024
    </ion-card-content>
  </ion-card>
</ion-footer>
