<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark">person-add</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/images/DALL.png" class="background-image"></ion-img>
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">person-add</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>

<ion-footer >
  <!-- cards blocs -->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Powred by LIYCA Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      © 2024
    </ion-card-content>
  </ion-card>
  </ion-footer>
