<ion-header>
  <ion-toolbar>
    <ion-title>History</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let log of logs" (click)="fetchLogContent(log)">
      {{ log }}  <!-- Display log file names -->
    </ion-item>
  </ion-list>

  <ion-card *ngIf="selectedLogContent">
    <ion-card-header>
      <ion-card-title>Log Content</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <pre>{{ selectedLogContent }}</pre>  <!-- Display the content of the selected log -->
    </ion-card-content>
  </ion-card>
</ion-content>
