<!-- air.page.html -->
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark">Air Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/images/DALL.png" class="background-image"></ion-img>


<ion-card color="primary">
  <ion-card-header>
    <ion-card-title>Air Quality</ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item *ngFor="let item of airData">
        <ion-label style="color: rgb(228, 160, 13);">
          {{ item.location }}: Temperature {{ item.temperature }} °C, Air Quality {{ item.quality_air }}
        </ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>

<ion-footer>
  <!-- Footer -->
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Powered by LIYCA Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      © 2024
    </ion-card-content>
  </ion-card>
</ion-footer>
