<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="dark">Energy Manager</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-img src="../../assets/images/DALL.png" class="background-image"></ion-img>

  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Energy</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Total Consumption Card -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Total Consumption</ion-card-title>
    </ion-card-header>
    <ion-card-content style="color: rgb(52, 13, 228);">
      <h1>{{ totalConsommation }} kWh</h1>
    </ion-card-content>
  </ion-card>

  <!-- Energy Consumption by Location -->
  <ion-card color="primary">
    <ion-card-header>
      <ion-card-title>Energy Consumption by Location</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let item of consommationData">
          <ion-label style="color: rgb(228, 160, 13);">
            {{ item.location }}: {{ item.consommation }} kWh
          </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-card color="warning">
    <ion-card-header>
      <ion-card-title>Powered by LYCA Tech</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      © 2024
    </ion-card-content>
  </ion-card>
</ion-footer>
