<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>energy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">energy</ion-title>
    </ion-toolbar>
  </ion-header>

  <!-- Energy Metrics Chart -->
  <ion-card>
    <ion-card-header>
      <ion-card-title>Building Energy Metrics</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <canvas #energyChart></canvas>
    </ion-card-content>
  </ion-card>

</ion-content>
